.checkout-button {
    background-color: transparent;
    color: #fff;
    border: 2px #fff solid;
    border-radius: 6px;
}

.exit-button {
    background-color: transparent;
    color: #fff;
    border: 2px #fff solid;
    border-radius: 5px;
}